.appWrapper {
    display: flex;
    height: 100%;
    background-color: #B3DEE2;
    /*background-color: red;*/
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
  
.scoreButton {
    width: 47%;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

.scoreButton span {
    font-size: 1.06rem;
}
  
.bigButton {
    width: 95%;
    height: 8%;
}

.bigButton span {
    font-size: 2rem;
}

.teamsContainer {
    display: flex;
    flex-direction: row;
    /*background-color: blue;*/
    width: 95%;
    justify-content: space-evenly;
}

/*Disable some bootstrap css*/
.btn-outline-primary:hover {
    color:#007bff !important;
    background-color:#B3DEE2 !important;
}
.btn-outline-primary.focus, .btn-outline-primary:focus {
    box-shadow: none !important;
}